@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

body{
    background-color: #613800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.escrita-mao{
    font-family: 'Allison', cursive;
    text-shadow: #000 2px 2px;
}

/*Esse é um comentário CSS
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 52px;
    color: #FFFFFF;
    padding-top: 10%;
    padding-bottom: 10%;
    text-shadow: #000000 2px 2px;

}

header{
    display: block;
    height: 400px;
    text-align: center;
    background-image: url(../img/livraria_banner_7000x3000_sem_fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: screen;
    background-color: #EDB469;
}

.menu-principal{
    width:100%;
    background-color: #613800;
    height: 50px;
}

#quemsomos{
    display: block;
    height: 400px;
    background-image: url(../img/livraria.jpeg);
    background-color: #AD701F;
}

#clubetraca{
    display: block;
    height: 400px;
    background-color: #AD701F;
}

#contato{
    display: block;
    height: 400px;
    background-color: #AD701F;
}

h2{
    padding-top: 18px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
Código substituido pelo Bootstrap
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #613800;
    position: sticky;
    top: 0;
}

nav ul li{
    display: inline-block;
    padding: 2px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

nav ul li a:link, a:visited{
    color: #FFFFFF;
}

nav ul li a:hover{
    color: #000000;
    background-color: #EDB469;
}

footer{
    text-align: center;
    padding-top: 100px;
    height: 200px;
    background-color: #613800;
    color: #FFFFFF;
}*/